::ng-deep.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false] {
    background-color: none !important;
}

.input-group input {
  border: none !important;
  border-top: 1px solid #ced4da !important;
  border-left: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
}

.input-group-text {
  background-color: #fff !important;
  border: none !important;
  border-top: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
}

.input-group.disabled .input-group-text {
    background-color: #e9ecef !important;
}

.input-group.is-invalid input {
    border-top: 1px solid #dc3545 !important;
    border-left: 1px solid #dc3545 !important;
    border-bottom: 1px solid #dc3545 !important;
}


.input-group.is-invalid .input-group-text {
    border-top: 1px solid #dc3545 !important;
    border-right: 1px solid #dc3545 !important;
    border-bottom: 1px solid #dc3545 !important;
}